#carousel {
	width: 100%;
}
.n{
	padding: 0px 60px 0px 60px;
}
.box{
	border: 1px solid black;
}
section{
	padding: 20px 10px 20px 10px;
}
.title{
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.nav-link{
	font-weight: bold;
}
body{
	background-color: #d0d4db;
}
#logo{
	transition: transform .25s, background .25s;
}
#logo:hover{
	transform: scale(1.2);
}
.hideme{
	opacity: 0;
}
.sus{
	padding: 7px 0 7px 0;
}
.yolo{
	background-color: blue;
	color: white;
	display: inline-block;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}


@media (min-width: 1800px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1680px;
    max-width: 100%;
  }
}



